<a href="https://colab.research.google.com/github/seoyeon7/ML/blob/main/decision-tree-python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
#iris 데이터셋

data = pd.read_csv('/content/iris.data',header=None, names=['sepal_len','sepal_width','petal_len','petal_width','class'])

#기술 속성(descriptive features)과 대상 속성 분류(target feature)
index=data[['sepal_len','sepal_width','petal_len','petal_width']]
target = data['class']
data.head()

   sepal_len  sepal_width  petal_len  petal_width        class
0        5.1          3.5        1.4          0.2  Iris-setosa
1        4.9          3.0        1.4          0.2  Iris-setosa
2        4.7          3.2        1.3          0.2  Iris-setosa
3        4.6          3.1        1.5          0.2  Iris-setosa
4        5.0          3.6        1.4          0.2  Iris-setosa

In [ ]:
def entropy(target_col):
    elements, counts = np.unique(target_col, return_counts = True)
    entropy = -np.sum([(counts[i]/np.sum(counts))*np.log2(counts[i]/np.sum(counts)) for i in range(len(elements))])
    return entropy

In [ ]:
print('H(x) = ', round(entropy(target), 5))

H(x) =  1.58496